accelerate
bitsandbytes==0.38.1
controlnet_aux
diffusers<0.20
einops
gradio==4.11.0
huggingface_hub
imageio[ffmpeg]
imageio>=2.28.0
jaxtyping
kornia
libigl
matplotlib
networkx
ninja
omegaconf==2.3.0
opencv-python
PyMCubes
pysdf
safetensors
sentencepiece
taming-transformers-rom1504
tensorboard
torchmetrics
transformers==4.28.1
trimesh[easy]
typeguard
wandb
xatlas
